{% load static %}
    <script src="{% static 'apps/assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'apps/assets/js/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'apps/assets/js/plugins.js' %}"></script>
    <script src="{% static 'apps/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'apps/assets/js/wow.min.js' %}"></script>
    <script src="{% static 'apps/assets/js/waypoints.js' %}"></script>
    <script src="{% static 'apps/assets/js/nice-select.js' %}"></script>
    <script src="{% static 'apps/assets/js/counterup.min.js' %}"></script>
    <script src="{% static 'apps/assets/js/owl.min.js' %}"></script>
    <script src="{% static 'apps/assets/js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'apps/assets/js/paroller.js' %}"></script>
    <script src="{% static 'apps/assets/js/contact.js' %}"></script>
    <script src="{% static 'apps/assets/js/main.js' %}"></script>